USE [master]
GO
/****** Object:  Database [TallerMecanico]    Script Date: 7/10/2022 11:46:16 PM ******/
CREATE DATABASE [TallerMecanico]
 CONTAINMENT = NONE
 
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TallerMecanico].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TallerMecanico]
GO
/****** Object:  Table [dbo].[Automovil]    Script Date: 7/10/2022 11:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Automovil](
	[Tipo_Automovil] [int] NOT NULL,
	[Id_Vehiculo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Vehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Desperfecto]    Script Date: 7/10/2022 11:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Desperfecto](
	[Id_Desperfecto] [int] NOT NULL,
	[Id_Vehiculo] [int] NOT NULL,
	[Descripcion_Desperfecto] [varchar](max) NOT NULL,
	[Tiempo_Desperfecto] [int] NOT NULL,
	[ManoDeObra_Desperfecto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Desperfecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Desperfecto_Repuesto]    Script Date: 7/10/2022 11:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Desperfecto_Repuesto](
	[Id_Desperfecto] [int] NOT NULL,
	[Id_Repuesto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Desperfecto] ASC,
	[Id_Repuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Moto]    Script Date: 7/10/2022 11:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Moto](
	[Cilindrada_Moto] [int] NOT NULL,
	[Id_Vehiculo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Vehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Repuesto]    Script Date: 7/10/2022 11:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Repuesto](
	[Id_Repuesto] [int] NOT NULL,
	[Descripcion_Repuesto] [varchar](255) NOT NULL,
	[Precio_Repuesto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Repuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculo]    Script Date: 7/10/2022 11:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculo](
	[Id_Vehiculo] [int] NOT NULL,
	[Marca_Vehiculo] [varchar](50) NOT NULL,
	[Modelo_Vehiculo] [varchar](255) NOT NULL,
	[Patente_Vehiculo] [varchar](50) NOT NULL,
	[Tipo_Vehiculo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Vehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Automovil]  WITH CHECK ADD FOREIGN KEY([Id_Vehiculo])
REFERENCES [dbo].[Vehiculo] ([Id_Vehiculo])
GO
ALTER TABLE [dbo].[Desperfecto]  WITH CHECK ADD FOREIGN KEY([Id_Vehiculo])
REFERENCES [dbo].[Vehiculo] ([Id_Vehiculo])
GO
ALTER TABLE [dbo].[Desperfecto_Repuesto]  WITH CHECK ADD FOREIGN KEY([Id_Desperfecto])
REFERENCES [dbo].[Desperfecto] ([Id_Desperfecto])
GO
ALTER TABLE [dbo].[Desperfecto_Repuesto]  WITH CHECK ADD FOREIGN KEY([Id_Repuesto])
REFERENCES [dbo].[Repuesto] ([Id_Repuesto])
GO
ALTER TABLE [dbo].[Moto]  WITH CHECK ADD FOREIGN KEY([Id_Vehiculo])
REFERENCES [dbo].[Vehiculo] ([Id_Vehiculo])
GO
USE [master]
GO
